.navbar-dark {
    background-color: rgb(30, 124, 119);
}

.navbar-brand {
    font-size: 28px;
}

body {    
    background: rgb(87, 85, 81);
    z-index: 0;
}

.navbar-nav {
    font-size: 20px;
}

.nav-item {
    padding: 0px 15px 0px 15px;
}

.jumbotron {
    padding: 70px 30px 35px 30px;
    margin: 0px auto;
    background: lightseagreen;
    color: floralwhite;
}

h2 {
    margin-top: 35px;
}

h1 {
    padding-top: 20px;
}

.row-content {
    margin: 0px auto;
    padding: 75px 0px 75px 0px;
    border-bottom: 1px ridge;
    min-height: 100px;
}















