.navbar-dark {
    background-color: rgb(30, 124, 119);
}

.navbar-brand {
    font-size: 28px;
}

body {    
    background: floralwhite;
    z-index: 0;
}

.navbar-nav {
    font-size: 20px;
}

.nav-item {
    padding: 0px 15px 0px 15px;
}

.jumbotron {
    padding: 70px 30px 35px 30px;
    margin: 0px auto;
    background: lightseagreen;
    color: floralwhite;
}

.header {
    padding: 70px 30px 35px 30px;
    margin: 0px auto;
    background: lightseagreen;
    color: floralwhite;
}

h3 {
    margin-top: 26px;
    font-size: 40px;
}



h2 {
    margin-top: 35px;
}

h1 {
    padding-top: 20px;
}

.row-content {
    margin: 0px auto;
    padding: 75px 0px 75px 0px;
    border-bottom: 1px ridge;
    min-height: 100px;
}

.row-content2 {
    margin: 0px auto;
    padding: 50px 0px 60px 0px;
    min-height: 100px;
}

.frame {
    height: 350px;
    width: 350px;
    overflow: hidden;
}

.frame img {
    height: 270px;
    width: 270px;
    transition: all 1s ease;
}

.frame img:hover {
    height: 300px;
    width: 260px; 
}

.footer {
    background-color: lightseagreen;
    margin: 0px auto;
    padding: 30px 0px 20px 0px;
}

.frame2 {
    background-color: #9575cd;
    width: 555px;
    height: 350px;
}

.frame2 img {
    width: 200px;
    height: 200px;
    margin: 75px 0px 0px 180px;
    transition: all 1s ease;
}

.frame2 img:hover {
    width: 230px;
    height: 230px;
}

.frame3 {
    background-color: #c6c2cc;
    width: 555px;
    height: 350px;
}

.frame3 img {
    width: 200px;
    height: 200px;
    margin: 75px 0px 0px 180px;
    transition: all 1s ease;
}

.frame3 img:hover {
    width: 230px;
    height: 230px;
}

.social1 {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .frame2 {
        background-color: #9575cd;
        width: 300px;
        height: 175px;
    }
    
    .frame2 img {
        width: 100px;
        height: 100px;
        margin: 37px 0px 0px 100px;
        transition: all 1s ease;
    }

    .frame2 img:hover {
        width: 115px;
        height: 115px;
    }

    .frame3 {
        background-color: #c6c2cc;
        width: 300px;
        height: 175px;
    }
    
    .frame3 img {
        width: 100px;
        height: 100px;
        margin: 37px 0px 0px 100px;
        transition: all 1s ease;
    }

    .frame3 img:hover {
        width: 115px;
        height: 115px;
    }
}
















